concurrent = {{ gitlab_runner_concurrency }}
check_interval = {{ gitlab_runner_check_interval }}

session_timeout = {{ gitlab_runner_session_timeout }}

[[runners]]
name = "{{ gitlab_runner_name }}"
url = "{{ gitlab_runner_url }}"
token = "{{ gitlab_runner_token }}"
executor = "{{ gitlab_runner_executor }}"

